/*CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Architects Daughter', cursive;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Add CSS styling here */

* {
    box-sizing: border-box;
    max-width:100%;
    border:1px solid gray;
}

html {
    font-size: 62.5%;
}

/*Header*/

header {
    background-color:#D0D0D0;
}

h1 {
    padding:2% 2% 0;
    font-size: 4.8rem;
    width:100%;
}

header nav {
    padding:2% 5%;
    display:flex;
    justify-content: flex-start;
}

header nav a {
    background-color:#fff;
    font-size:2rem;
    width:150px;
    text-decoration: none;
    padding:1%;
    border:2px solid black;
    text-align:center;
}

/*.cta*/

section.cta {
    border-top:2px solid black;
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
}

.left {
    width:40%;
    margin:1% 0;
    display:flex;
    justify-content:center;
    align-items: center;
}

.left img {
    border:2px solid black;
}

.right {
    width: 45%;
    margin:1% 0;
    padding:0 5%;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}

.right h3{
    font-size:3rem;
    margin:2% 0;
}

.right button {
    font-size:1.6rem;
    width: 25%;
    padding: 2%;
    margin: 2% 1%;
    border:1px solid black;
}

.right p {
    font-size: 3rem;
    line-height:1.5;
    margin:1% 0; 
}

/*Projects*/

.container {
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items:center;
    margin-bottom:2%;
}

.inner-container  {
    width:22%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.container img {
    border:2px solid black;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

span {
    font-size:2rem;
    text-align:center;
    width:50%;
    margin:3%
}

/*Footer*/

footer {
    background-color:#D0D0D0;
    padding:5%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

footer h2 {
    font-size:3.6rem;
    margin:1% auto;
    line-height: 1.5;
}

footer button {
    width: 10%;
    padding:1%;
    font-size:1.6rem;
    border:1px solid black;
}

/*800px media query*/
@media(max-width:800px){
    section.cta{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left, .right{
        width:90%;
        margin:1% 5%;
    }
    .right{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .right button{
        width:30%;
        padding:2%;
    }
    .right p{
        font-size:2rem;
    }
    footer button{
        width:30%;
        padding:2%;
    }
}

@media(max-width:500px){
    header {
        background-color:#fff;
        text-align: center;
    }    
    h1 {
        font-size:4rem;
        width:100%;
        text-align: center;
    }
    header nav{
        flex-direction:column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin:1% 0 0;
    }
    header nav a{
        padding:3% 0;
    }
    section.cta{
        padding:1%;
        border:none;
        flex-direction:column;
        justify-content: flex-start;
        align-items: center;
    }
    .inner-container {
        width:40%
    }
    /*Could go back and style one button, buttons are styles seperate for each section*/
    footer button{
        width:30%;
        padding:2%;
        font-size:2rem;
    }
    .right button{
        width:50%;
        padding:2%;
        font-size:2rem;
    }
    .left, .right{
        width:90%;
        text-align:center;
        align-items: center;
    }
    .right p{
        font-size:1.6rem;
    }
    .right h3{
        font-size:2.8rem;
    }
}

